# Lab 3 files
*.aux

# Compiled files
*.exe
*.o
*.synctex.gz

.hiddenmv

# Editor files
*.swp

# General
*.tmp
*.log

# CLion stuff (ignore)
.idea/*

# Score record file
scores.txt

#Boost
src/boost_1_62_0/*

# Library files
src/*.so

*.lof
*.lot
*.toc
*.out

src/.srcstore/*

# Generated dependency files
*.depends
